body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, #ff6ec4, #38f9d7, #3d86ff);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#game {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'Monoton', cursive;
    background-image: linear-gradient(to right, #ff6ec4, #38f9d7, #3d86ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
}


#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    justify-content: center;
}

#game-board button {
    width: 100px;
    height: 100px;
    font-size: 36px;
    background-color: #eee;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#game-board button:hover {
    background-color: #ddd;
}

#game-info {
    margin-top: 30px;
}

#player-name {
    font-weight: bold;
}

#leaderboard-list {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

#leaderboard-list li {
    margin-bottom: 5px;
    font-size: 16px;
    color: #666;
}

#time-counter {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
